<!DOCTYPE html>
<html>
<head>
    <title>Foo Vue</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <!-- FB META DATA -->
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="static/img/og-image.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- /FB META DATA -->
    <style>
        .svg-defs {
            position: absolute;
            width: 0;
            height: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <svg class="svg-defs">
        <defs>
        </defs>
    </svg>
    <div id="app"></div>
    <div id="fb-root"></div>
    <!-- built files will be auto injected -->
</body>
</html>
